<h1 class="mb-0">餐廳後台</h1>
<div class="mb-1">
  <a href="/admin/restaurants"><button type="button" class="btn btn-link">Restaurants</button></a>
  <span>|</span>
  <a href="/admin/users"><button type="button" class="btn btn-link">Users</button></a>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>
          {{#if this.isAdmin}}
            admin
          {{else}}
            user
          {{/if}}
        </td>
        <td>
          <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link">
              {{#if this.isAdmin}}
                set as user
              {{else}}
                set as admin
              {{/if}}
            </button>
            <input class="d-none" type="checkbox" name="isAdmin" {{#if this.isAdmin}}checked{{/if}} />
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>